<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Analyzer</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<h1>Image Analyzer</h1>

<div class="buttonContainer">
  <label for="fileInput">Choose File</label>
  <input type="file" id="fileInput" />
  <button onclick="displayImage()">Display</button>
  <button id="displayResultsButton">Display Results</button>
  <button id="detectButton">Analyze</button>
</div>

<div class="mainContainer">
  <div class="imageAndObjectContainer">
    <div id="imageContainer">
      <div id="imageBox"></div>
      <div id="fileName"></div>
    </div>

    <div class="objectListContainer" id="objectListContainer"> <!-- Added class -->
      <h2>Objects</h2>
      <button onclick="generateObjectList()">Clear Selections</button>
    </div>
  </div>
  <div id="resultsTableContainer"></div>
</div>



<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
