<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Analyzer</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<h1>Image Analyzer</h1>

<div class="buttonContainer">
  <label for="fileInput" style="margin-right: 30px;">Choose File</label>
  <input type="file" id="fileInput" />
  <button onclick="displayImage()" style="margin-right: 30px;">Display</button>
  <button id="detectButton">Analyze</button>
</div>

<div id="imageContainer">
  <div id="imageBox"></div>
  <div id="fileName"></div>
</div>

<div id="objectListContainer">
  <h2>Objects</h2>

</div>
<button onclick="generateObjectList()">Clear Selections</button>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
